.sdp {
  width: 100%;
  display: grid;
}

.sassy--select {
  font-weight: 700;
}

.sdp--grid {
  max-width: 252px;
  margin-left: 130px;
  font-weight: bold;
}

.sdp--square-btn {
  font-weight: 700;
}

.sassy-select {
  font-size: 12px !important;
}

.sdp--date-btn__selected {
  background-color: #9747FF;
}

@media (max-width: 767px) {
  .sdp--grid {
    max-width: 252px;
    margin-left: 25px;
    font-weight: bold;
  }
}
